#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid #292627;
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: border-color 0.5s;
    z-index: 9999;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    background: transparent;
    border: 2px solid #292627;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
    z-index: 9999;
}

html {
    cursor: none !important;
}

@media (max-width:475px) {
    #pointer-ring, #pointer-dot {
        cursor: none !important;
        display: none;
    }
}
